* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --padding-md : 2rem;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

section {
    margin-top: 6rem;
}

/* REset 
=============== */

button {
    text-decoration: none;
    background:none;
    border: none;
    color:white;
}

a , label {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

/* Evitements 
=============== */

.liens-evitements {
    z-index:100;
    position: absolute;
    left:-99999;
}

/* nav
=============== */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1250px;
    margin:0 auto;
    padding:2rem;
}

#header nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header .logo {
    font-weight: 900;
    font-size:large;
}

#header .links {
    display: flex;
    list-style-type: none;
    gap:1rem;
}

#header a {
    color:black;
}

#header .nav-mobile {
    display:none;
}

.nav-mobile:hover .dropdown {
    display: block;
    width:100%;
}

.nav-mobile .dropdown{
    width: 100%;
}

.nav-mobile .dropdown .links {
    padding:2rem;
    border-radius: 8px;
    background-color: white;

    display: flex;
    flex-direction: column;
}

.nav-mobile .dropdown {
    right:0;
    position: absolute;
    display: none;
}

@keyframes moving_img {
    0%{transform: translateY(-20px);}
    50%{transform: translateY(20px);}
    100%{transform: translateY(-20px);}
}

@media screen and (max-width:576px){
    #header nav {display:none}
    #header .nav-mobile {display:block}
}

/* Home
=============== */

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:5rem;
    padding:4rem 2rem;
    max-width: 1250px;
    margin:0 auto;
}

.home .container {
    max-width:600px;
}

.home .title {
    font-size:2rem;
    padding-bottom: 0.65rem;
}

.home .text {
    max-width:600px;
}

.home img {
    animation: moving_img 3s infinite;
}

@media query and (max-width:470px){
    .home img {width:min(100%,300px)}
}

.home button {
    background:#E63946;
    padding:0.5rem;
    border-radius: 8px;
    margin-top: 1rem;
}

.home button a {
    color:white;
}

@media screen and (max-width:768px) {
    .home {
        flex-direction: column;
    }
}

/* HERO 
=============== */

#hero {
    max-width: 1250px;
    margin:0 auto;
    padding:2rem;
    background-color: #E63946;
    border-radius: 16px;
    color:white;
}

#hero .title {
    padding-bottom: 0.5rem;
}

#hero .cta-btn {
    display: inline-block;
    background-color: white;
    border-radius: 8px;
    padding: 0.5rem;
    margin-top:1rem;
}

#hero .cta-btn a {
    color:black;
}

.result .title {

}

@media screen and (max-width:576px){
    #hero {border-radius: 0;}
}

/* Presentation
=============== */

.presentation {
    max-width: 1250px;
    padding-top: 2rem;
    display: flex;
    justify-content:space-between;
    gap:5rem;
    margin: 0 auto;
    margin-top: 4rem;
}

.presentation .container {
    padding: 2rem;
}

.presentation .title {
    font-size:2rem; 
    padding-bottom: 0.65rem;
}

.presentation .container {
    max-width:600px;
}

.presentation video {
    border-radius: 16px;
}

@media screen and (max-width:900px) {
    .presentation {
        margin-top:1rem;
        padding-top:0;  
        flex-direction: column;
        gap:0;
    }
    .presentation video {
        margin:0 auto;
        width:90%;
    }
}

/* Learn 
================ */

.learn {
    padding:2rem;
    max-width: 1250px;
    flex-wrap: wrap;
    margin:0 auto;
    margin-top: 4rem;
    display: flex;
    gap:5rem;
    justify-content: space-between;
}

.learn img {
    order:1;
}

.learn .container {
    max-width: 600px;
    order:2;
}

.learn .title {
    font-size:2rem;
    padding-bottom: 0.65rem;
}

.learn .container button {
    border-radius: 8px;
    padding: 0.5rem;
    margin-top: 1rem;
    background-color: #E63946;
}

.learn .container button a {
    color:white;
}

.learn .img-wrapper {
    width:min(100%,400px);
    display: flex;
    justify-content: flex-start;
}

@media screen and (max-width:576px) {
    .learn img {width:min(100%,250px);}
}