* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --padding-md : 2rem;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

section {
    margin-top: 6rem;
}

/* REset 
=============== */

button {
    text-decoration: none;
    background:none;
    border: none;
    color:white;
}

a , label {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

/* nav
=============== */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1250px;
    margin:0 auto;
    padding:2rem;
}

#header nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header .logo {
    font-weight: 900;
    font-size:large;
}

#header .links {
    display: flex;
    list-style-type: none;
    gap:1rem;
}

#header a {
    color:black;
}

/* HERO 
=============== */

#hero {
    max-width: 1250px;
    margin:0 auto;
    padding:2rem;
    background-color: #E63946;
    border-radius: 16px;
    color:white;
}

#hero .title {
    padding-bottom: 0.5rem;
}

#hero .cta-btn {
    display: inline-block;
    background-color: white;
    border-radius: 8px;
    padding: 0.5rem;
    margin-top:1rem;
}

#hero .cta-btn a {
    color:black;
}

.result .title {

}

/* Presentation
=============== */

.presentation {
    max-width: 1250px;
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    gap:5rem;
    justify-content: center;
    margin: 0 auto;
    margin-top: 4rem;
}

.presentation .container {
    padding: 2rem;
}

.presentation .title {
    font-size:2rem; 
    padding-bottom: 0.65rem;
}

.presentation .text {
    max-width:450px;
}

.presentation video {
    border-radius: 16px;
}

/* Learn 
================ */

.learn {
    padding:2rem;
    max-width: 1250px;
    flex-wrap: wrap;
    margin:0 auto;
    margin-top: 4rem;
    display: flex;
    gap:5rem;
    justify-content: center;
}

.learn img {
    order:1;
}

.learn .container {
    max-width: 450px;
    order:2;
}

.learn .title {
    font-size:2rem;
    padding-bottom: 0.65rem;
}

.learn .container button {
    border-radius: 8px;
    padding: 0.5rem;
    margin-top: 1rem;
    background-color: #E63946;
}

.learn .container button a {
    color:white;
}

.learn .img-wrapper {
    width:400px;
    display: flex;
    justify-content: flex-start;
}