<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/apprendre.css">
    <title>Document</title>
</head>
<body>
    <header id="header">
        <p class="logo">SIDA Info</p>
        <nav>
            <ul class="links">
                <li class="link"><a href="../">Accueil</a></li>
                <li class="link"><a href="/quizz">Quizz</a></li>
                <li class="link"><a href="">A propos</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="profile">
                <img src="../media/learn.svg" width="200" alt="image du conseille">
            </div>
            <div class="text-box">
                <h2 class="title"></h2>
                <p class="text">
                    Bonjour je suis John , je suis un expert en éducation sexuelle et je m'y connais également dans les risques et problématiques liées à la sexualité. Avez-vous une question en particulier à me poser ?</p>
            </div>
            <div class="buttons">
                <button class="btn-vih"><a class="link">VIH</a></button>
                <button class="btn-sida"><a class="link">SIDA</a></button>
                <button class="btn-dangers"><a class="link">Dangers de la sexualité</a></button>
            </div>
        </div>
        <div class="container vih">
            <div class="profile">
                <img src="../media/learn.svg" width="200" alt="image du conseille">
            </div>
            <div class="text-box">
                <h2 class="title">VIH</h2>
                <p class="text">
                    Tu souhaites donc en savoir plus sur le VIH.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur numquam adipisci labore dolore, iure itaque in. At provident excepturi velit magnam unde autem hic, voluptatem et ad deleniti esse eius.</p>
            </div>
        </div>
        <div class="container sida">
            <div class="profile">
                <img src="../media/learn.svg" width="200" alt="image du conseille">
            </div>
            <div class="text-box">
                <h2 class="title">SIDA</h2>
                <p class="text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur numquam adipisci labore dolore, iure itaque in. At provident excepturi velit magnam unde autem hic, voluptatem et ad deleniti esse eius.</p>
            </div>
        </div>
        <div class="container dangers">
            <div class="profile">
                <img src="../media/learn.svg" width="200" alt="image du conseille">
            </div>
            <div class="text-box">
                <h2 class="title">Dangers liées à la sexualité</h2>
                <p class="text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur numquam adipisci labore dolore, iure itaque in. At provident excepturi velit magnam unde autem hic, voluptatem et ad deleniti esse eius.</p>
            </div>
        </div>
        <script src="../controllers/apprendre.js"></script>
    </main>
</body>
</html>