<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body>
    <header id="header">
        <p class="logo">SIDA Info</p>
        <nav>
            <ul class="links">
                <li class="link"><a href="../">Accueil</a></li>
                <li class="link"><a href="/quizz">Quizz</a></li>
                <li class="link"><a href="">A propos</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero" id="hero">
            <h1 class="title">SIDA Info , Le Quizz fun !</h1>
            <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem quisquam corrupti explicabo facere iure cum temporibus alias error totam eos voluptatem in earum doloribus iusto dolor, sunt veritatis natus! Ab?</p>
            <div class="preview">
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
            </div>
            <button class="cta-btn"><a href="/quizz">Lancer le quizz !</a></button>
        </section>
        <section class="presentation">
            <div class="container">
                <h2 class="title">Voici la cause que nous défendons</h2>
                <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam maxime recusandae expedita repellendus illum sequi repellat blanditiis enim at ipsa? Praesentium error laudantium aut nobis. Praesentium quo nihil voluptatem debitis.</p>
            </div>
            <video width="400" height="579" controls autoplay>
                <source src="../media/video-presentation.mp4" type="video/mp4">
                <source src="../media/video-presentation.mp4" type="video/ogg">
              Your browser does not support the video tag.
              </video>
        </section>
        <section class="learn">
            <div class="container">
                <h2 class="title">Apprendre les bases de la sexualité</h2>
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, consectetur, accusamus aperiam officia facilis distinctio hic, consequatur placeat ab corrupti eaque culpa quibusdam temporibus tempore a maxime! Animi, quas sequi.</p>
                <button><a href="/apprendre">Apprendre</a></button>
            </div>
            <div class="img-wrapper">
                <img width="300" src="../media/learn.svg" alt="">
            </div>
        </section>
    </main>
    <footer></footer>
</body>
</html>