<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body>
    <header id="header">
        <p class="logo">SIDA Info</p>
        <nav>
            <ul class="links">
                <li class="link">Accueil</li>
                <li class="link">Quizz</li>
                <li class="link">A propos</li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero" id="hero">
            <h1 class="title">SIDA Info , Le Quizz fun !</h1>
            <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem quisquam corrupti explicabo facere iure cum temporibus alias error totam eos voluptatem in earum doloribus iusto dolor, sunt veritatis natus! Ab?</p>
            <div class="preview">
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
            </div>
            <button class="cta-btn"><a href="/quizz">Lancer le quizz !</a></button>
        </section>
    </main>

    <footer></footer>
</body>
</html>